.root {
	 -fx-font-family: "Helvetica Neue";
	 -fx-background-image:url("../logo.png");
	 
       
}
.menu-bar{
  -fx-background-color: black;
   -fx-border-width: 2;
 }

.menu-bar .label {
    -fx-font-size: 25 pt;
-fx-text-fill: white;

}

.menu:hover {
    -fx-background-color: #A9A9A9;
  -fx-background-radius: 10px;  
}
.menu {
	-fx-pref-width: 500px;
  -fx-pref-height: 50px;
  -fx-padding: 20px 20px 16px 16px;
  -fx-text-alignment:center;
    
}
.menu .label {
	 -fx-text-alignment	:center;
}
.menu-item .label{
	-fx-content-display: center;
     -fx-font-size: 25 pt;
    -fx-label-line-length: 8;
      
      }
.menu-item {
	    -fx-background-color: black;
}
      
.menu-item:hover {
    -fx-background-color: #EEE2DC;
  -fx-background-radius: 10px;  
}

.grid-pane {
	
}

.list-cell{
   -fx-cell-size: 100px;
   -fx-min-width:200px;	
}
.glyph-icon{ -fx-font-family:"FontAwesome"; }
