.root {
	 -fx-font-family: "Helvetica Neue";
       
}
.menu-bar{
  -fx-background-color: #EDC7B7;
   -fx-border-width: 2;
 }

.menu-bar .label {
    -fx-font-size: 25 pt;
-fx-text-fill: #AC3B61;

}

.menu:hover {
    -fx-background-color: #EEE2DC;
  -fx-background-radius: 10px;  
}
.menu {
	-fx-pref-width: 300px;
  -fx-pref-height: 50px;
  -fx-padding: 20px 20px 16px 16px;
  -fx-text-alignment:center;
    
}
.menu .label {
	 -fx-text-alignment	:center;
}
.menu-item .label{
	-fx-content-display: center;
     -fx-font-size: 25 pt;
    -fx-label-line-length: 8;
      
      }
      
.menu-item:hover {
    -fx-background-color: #EEE2DC;
  -fx-background-radius: 10px;  
}

.grid-pane {
	
}

.list-cell{
   -fx-cell-size: 100px;	
}
.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: linear-gradient(#328BDB 0%, #207BCF 25%, #1973C9 75%, #0A65BF 100%);
    -fx-text-fill: white;
    
}

.list-cell:even { /* <=== changed to even */
    -fx-background-color: white;
}

.list-cell:filled:hover {
    -fx-background-color: #0093ff;
    -fx-text-fill: white;
}      